
.mid-group{
    padding-top: 0;
    min-height: 1080px;
    flex: 1;
    background: transparent;
    text-align: center;
    /* border-bottom: 1px solid rgb(164, 164, 164); */
    /* border-left: 1px solid;
    border-right: 1px solid; */
    border-color: rgb(124, 116, 116, 0.5);
    color: azure;
}

.mid-group .mid-header{
    width: 100%;
    /* border-left: 1px solid;
    border-right: 1px solid; */
    border-color: rgb(124, 116, 116, 0.5);
    background-color: #062270;
    padding-top: 20px; 
    text-indent: 10px;
}
.mid-group .mid-header a{
    padding: 5px 15px;
}
.mid-group .mid-header a:hover{
    background-color:#476DD5;
    border-radius: 15px;
    color: bisque;
}
.mid-group .input{
    background-color: #062270;
    width: 100%;
    min-height: 30px;
    padding: 25px 0 5px 0px;
    margin-bottom: 20px;
    color: azure;
    /* border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: rgb(124, 116, 116,0.5);
    
    
}

.mid-group .input textarea{
    font-size: 18px;
    background:transparent;
    border-style:none;
    resize: none;
    height: 50px;
    width: 95%;
    padding: 10px 10px;
}

.mid-group .input textarea::-webkit-input-placeholder{
    color: azure;
}
.mid-group .input .block-foot li{
    margin: 1% 0;
}
.mid-group .input .block-foot li a{
    padding: 5px 15px;
}
.mid-group .input .block-foot li a.submit{
    padding: 5px 40px;
}



.mid-group .block{
    background-color: #062270;
    width: 100%;
    min-height: 30px;
    padding: 20px 0;
    margin: 20px 0;

    /* border: 1px solid; */
    border-color: rgb(124, 116, 116,0.5);
    border-radius: 20px;
}

.mid-group .block-main{
    display: flex;
}

.mid-group .block-left{
    width: 11%;
    height: 100%;
    padding: 5px 5px;
    margin-left: 5px;
}

.mid-group .block-body{
    flex: 1;
    height: 100%;
    padding: 5px 20px 8px 5px;
    text-align: left;
}

.mid-group .block-body-heading{
    margin-bottom: 5px;
}

.mid-group .table{
    margin-top: 10px;
    border: 1px solid rgb(124, 116, 116);
    border-radius: 9px;
    background-color: #213e90;
}

.mid-group .table .table-heading{
    padding: 10px 0;
    margin: 5px 5px;
    font-size: 22px;
    text-align: center;
}

.mid-group .selection{
    /* padding: 10px 0; */
    margin: 5px 5px;
    border: 1px solid rgb(124, 116, 116);
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    user-select: none;
}

.mid-group .selection:hover{
    background-color: #476DD5;
}


.mid-group .selection input[type=radio]{
    display: none;
}

.mid-group .selection label{
    cursor:pointer;
    display: block;
    height: 100%;
    padding: 10px 0;
    text-align: center;
    /* display: flex; */
    letter-spacing: 10px;

}

.mid-group .selection input[type=radio] + label::after{
    cursor: pointer;
    content: "\a0";  /*不换行空格*/
    display: inline-table;
    margin-left: 65%;
    vertical-align: auto;
    width: 16px;
    height: 16px;
    background-color: #261c19;
    border: 1px solid #fff;
    line-height: .65;
    padding: 4px;
}

.mid-group .selection input[type="radio"]:checked + label::after {
    background-color: #0098f0; /* 选中的背景颜色 */
    padding: 4px;
    background-clip: content-box;
}
.mid-group .table .table-foot{
    text-align: center;
    padding: 5px 15px;
}

.mid-group .table .table-foot input[type=submit]{
    cursor: pointer;
    border-radius: 8px;
    background-color: #3062ea;
    padding:6px 20px;
    font-size: 18px;
}

.mid-group .table .table-foot input[type=submit]:hover{
    background-color: #2454d9;
}



.mid-group .block-left img.media-avatar{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.mid-group .block-body .block-img{
    text-align:center;
    margin-top: 15px;
}

.mid-group .block-body .block-img img.media-img{
    width: 100%;
    border-radius: 30px;
}

.mid-group .block-foot{
    width: 100%;
    margin: 15px 0;
}

.mid-group .block-foot li{
    display: inline-block;
    margin: 1% 2%;
}

.mid-group .block-foot a.submit{
    background-color: #370447;
    display: inline-block;
    margin: 1% 2%;
}

.mid-group .block-foot a.submit:hover{
    background-color: #A75EBF;
}

.mid-group a {
    padding: 5px 40px;
    text-decoration: none;
    border-radius: 15px;
} 

.mid-group .block-foot a svg{
    width: 14px;
    height: 14px;
}

.mid-group .block-foot a:hover{
    background-color:#476DD5;
    color: bisque;
}

