.left-group .header{
    padding: 0.3rem 2rem 2rem 0;
    color: rgb(200, 255, 255);
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: right;
}

.left-group .block{
    width: 85%;
    height: 2rem;
    float: right;
    margin: .05rem 0;
    padding: 1.6rem 0 1.6rem 1.6rem;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.35rem;
    text-align: left;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: inline-table;
}

.left-group .block svg{
    width: 2.5rem;
    vertical-align: bottom;
}

.left-group .block:hover{
    background-color: #6C8CD5;
}

.left-group .selected{
    background-color: #4671D5;
}

